@font-face {
    font-family: 'Mada';
    src: url('../fonts/Mada/Mada-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;   
}

@font-face {
    font-family: 'Mada';
    src: url('../fonts/Mada/Mada-Bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;   
}